body { 
	background: #000;
	color: #fff;
	font-family: menlo, monospace;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.5em;
}

a:link,
a:hover,
a:visited,
a:active {
	color: #fff;
	text-decoration: underline;
}

pre:first-child {
	margin-top: 30px;
}

.ascii-player, pre {
	margin: 0 20px;
}

.ascii-player {
	white-space: pre;
}